; Always require root to installed
unsafe-perm=true

; Operates in "global" mode, so that packages are installed into the prefix folder instead of the current working directory. 
global=true

; The value npm init should use by default for the package author's name. 
init-author-name="Patricio Trevino"

; The value npm init should use by default for the package author's email.
init-author-email="patricio@weirdpattern.com"

; The value npm init should use by default for the package author's homepage.
init-author-url="https://www.npmjs.com/~weirdpattern"

; The value npm init should use by default for the package license.
init-license="MIT"

; The value that npm init should use by default for the package version number.
init-version="0.0.1"
